/* Note:  I used some code from W3Sschool !!!!!!1*/


.hero-unit {
	text-align: center;
}

.UI {
	background-color: rgb(237, 238, 239);
	border: 1px lightgrey;
	border-radius: 8px;
	text-align: center;
}

.numCategoryQuestions{
    text-align: right;
}




.category{
    font-size: 25px;

}

.score {
	font-size: 15px;
	text-align: right;	
	margin-right: 200px;
	margin-top: 15px;
}


p.questionText {
	text-align: left;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 100px;
}

.categories{
    columns:2;
}

.categories li{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.answers{
    list-style-type: none;
    background-color: lightgrey;
    columns:2;
    padding: 15px;

    }

.answers li {
    background-color: cornflowerblue;
    padding: 10px;
    border: black;

}

.answers li input{
    #visibility: hidden;

}






.answers li:hover {
    background-color: cadetblue;
}





.categories{
    list-style-type: none;

}

.button {
  border-radius: 4px;
  background-color: lightgrey;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}